.blog-editor-container{
    grid-row: 1/20;
    grid-column: 1/-1;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.blog-editor{

    &__content-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: max-content;
        max-width: 75em;
        width: 100%;
        justify-items: center;
        padding-bottom: 10rem;
        box-sizing: border-box;
        row-gap: 2rem;

    }

    &__edit-button{

    }
}